<html>
	<head>
		<meta charset="UTF-8" />
		<title>Chime • In</title>
		<meta name="description" content="Let others know what event you are attending, and give them the option to join!" />
		<meta name=viewport content="width=device-width, initial-scale=1" />
		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../static/css/mag-popup.css" />
		<link rel="stylesheet" href="../static/css/main.css" />

		<!-- JS & REQUIRE -->
		<script data-main="../static/scripts/main" src="../static/scripts/require.js"></script>
		
	</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top">
		    <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
					MENU
					</button>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<span class="brand-yellow">Chime</span> • <span class="brand-blue">In</span>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
					<form class="navbar-form navbar-left" method="GET" role="search">
						<div class="form-group">
							<input type="text" name="q" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle user-nav-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">
								Account
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-header">SETTINGS</li>
								<li class=""><a href="#">Other Link</a></li>
								<li class=""><a href="#">Other Link</a></li>
								<li class=""><a href="#">Other Link</a></li>
								<li class="divider"></li>
								<li><a href="#" id="logout">Logout</a></li>
							</ul>
						</li>
					</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>  	
			<div class="container-fluid main-container">
		  	<div class="col-md-2 sidebar">
		  	<div class="row">
			<!-- uncomment code for absolute positioning tweek see top comment in css -->
			<div class="absolute-wrapper"> </div>
			<!-- Menu -->
			<div class="side-menu">
				<nav class="navbar navbar-default" role="navigation">
					<!-- Main Menu -->
					<div class="side-menu-container">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Home</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cloud"></span> []</a></li>

							<!-- Dropdown-->
							<li class="panel panel-default" id="dropdown">
								<a data-toggle="collapse" href="#dropdown-lvl1">
									<span class="glyphicon glyphicon-user"></span> Sub Level <span class="caret"></span>
								</a>

								<!-- Dropdown level 1 -->
								<div id="dropdown-lvl1" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a href="#">Link</a></li>
											<li><a href="#">Link</a></li>
											<li><a href="#">Link</a></li>

											<!-- Dropdown level 2 -->
											<li class="panel panel-default" id="dropdown">
												<a data-toggle="collapse" href="#dropdown-lvl2">
													<span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
												</a>
												<div id="dropdown-lvl2" class="panel-collapse collapse">
													<div class="panel-body">
														<ul class="nav navbar-nav">
															<li><a href="#">Link</a></li>
															<li><a href="#">Link</a></li>
															<li><a href="#">Link</a></li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</li>

						</ul>
					</div><!-- /.navbar-collapse -->
				</nav>

			</div>
		</div>  		</div>


  		<div class="col-md-10 content">	
  			<div id="main">
				<%= content %>
			</div>
  			 
  		</div>
		  		
		</div>

		<!-- popup content -->
		<div id="test-popup" class="white-popup mfp-hide">
		  Popup content
		</div>
		<!-- eo popup content -->

		<!-- LOGIN MODAL -->
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Login</h4>
		      </div>
		      <div class="modal-body">

		    	<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="panel panel-login">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-6">
										<a href="#" class="active" id="login-form-link">Login</a>
									</div>
									<div class="col-xs-6">
										<a href="#" id="register-form-link">Register</a>
									</div>
								</div>
								<hr>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<form id="login-form" role="form" style="display: block;">
											<div class="form-group">
												<input type="text" name="username" id="login-username" tabindex="1" class="form-control" placeholder="Username" value="">
											</div>
											<div class="form-group">
												<input type="password" name="password" id="login-password" tabindex="2" class="form-control" placeholder="Password">
											</div>
											<div class="form-group text-center">
												<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
												<label for="remember"> Remember Me</label>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-6 col-sm-offset-3">
														<button id="login-submit" tabindex="4" class="form-control btn btn-login">Login</button>
													</div>
												</div>
											</div>
										</form>
										<form id="register-form" role="form" style="display: none;">
											<div class="form-group">
												<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
											</div>
											<div class="form-group">
												<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
											</div>
											<div class="form-group">
												<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-7 col-sm-offset-2">
														<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		      </div>
		      <div class="modal-footer">
		        
		      </div>
		    </div>
		  </div>
		</div>


		<footer>
			Terms Of Use • Privacy Policy • &copy; 2015
		</footer>
		
	</body>


</html>