/* Main CSS */
 .main-wrapper {
 	width:100%;
 	margin: 10% auto;
 }
 .navbar-toggle {
 	z-index:1;
 }
 .CI-brand {
 	position:absolute;
 	left:15px;
 	right:15px;
 	top:15px;
 	text-align:center;
 	z-index:0;
 }
 .CI-brand .navbar-brand {
 	float:none;
 }


/** main dashboard **/
.user-profile {
	text-align:center;
}
.user-img {
	width:65%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.user-img i {
	border:1px solid #d3d3d3;
}
.content-label {
	text-align: center;
}
 /** footer **/
 footer {
 	text-align:center;
 }